.badge_list-item{
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
    margin: 10px;
}

.badge_img-container{
    display: flex;
    align-items: center;
}

.badge_list-img{
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.badge_item-info{
    display: flex;
    flex-direction: column;
}